---
layout: default
---

<section class="section is-small">
  <div class="container">
    <div class="columns is-desktop">
      <div class="column">
        <h2 class="title is-1">ECAD Files</h2>
        <a href="{{site.github.repository_url}}/tree/master/hardware"
          class="button is-large is-fullwidth is-info">Download KiCad project files</a>

        {% if page.gerber != false %}
        <br>
        <a href="{{site.github.repository_url}}/releases" class="button is-large is-fullwidth is-info">Download Gerber
          files</a>
        {% endif %}
      </div>
    </div>

    {% if page.three_d != false %}
    <div class="columns is-desktop">
      <div class="column"><a href="{{site.url}}/images/pcb/3dview-front.png"><img
            src="{{site.url}}/images/pcb/3dview-front.png" alt="3D view Front"></a></div>
      <div class="column"><a href="{{site.url}}/images/pcb/3dview-back.png"><img
            src="{{site.url}}/images/pcb/3dview-back.png" alt="3D view Back"></a></div>
    </div>
    {% endif %}
  </div>
</section>

<section class="section is-small">
  <div class="container">
    <div class="columns is-desktop">
      <div class="column">
        <h2 class="title is-1">Schematic</h2>
        <a href="{{site.url}}/hardware/docs/schematic.pdf" class="button is-large is-fullwidth is-info">Download
          schematic PDF</a>

        <br>
        <a href="{{site.url}}/images/pcb/schematic.png"><img src="{{site.url}}/images/pcb/schematic.png"
            alt="Schematic"></a>
      </div>

      <div class="column">
        <h2 class="title is-1">PCB Layout</h2>

        {% if page.pcb_layout == false %}
        <p class="subtitle">Coming soon...</p>
        {% else %}
        <a href="{{site.url}}/hardware/docs/layout.pdf" class="button is-large is-fullwidth is-info">Download PCB layout
          PDF</a>

        <br>
        <a href="{{site.url}}/images/pcb/layout-front.png"><img src="{{site.url}}/images/pcb/layout-front.png"
            alt="Layout front"></a>
        <br>
        <a href="{{site.url}}/images/pcb/layout-back.png"><img src="{{site.url}}/images/pcb/layout-back.png"
            alt="Layout back"></a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<section class="section is-small">
  <div class="container">
    <h2 class="title is-1">Prototypes</h2>

    <div class="columns is-desktop">
      <div class="column">
        <img src="{{site.url}}/images/prototype/prototype-1.jpg" alt="Prototype 1">
      </div>
      <div class="column">
        <img src="{{site.url}}/images/prototype/prototype-2.jpg" alt="Prototype 2">
      </div>
    </div>
  </div>
</section>

<section class="section is-small">
  <div class="container">
    <h2 class="title is-1">Photos</h2>

    <div class="columns is-multiline is-desktop">
      <div class="column is-half">
        <a href="{{ site.url}}/images/pcb/3dview-top.png">
          <img src="{{ site.url}}/images/pcb/3dview-top.png" alt="{{ page.title }} 3D view top photo">
        </a>
      </div>

      <div class="column is-half">
        <a href="{{ site.url}}/images/pcb/3dview-bottom.png">
          <img src="{{ site.url}}/images/pcb/3dview-bottom.png" alt="{{ page.title }} 3D view bottom photo">
        </a>
      </div>

      <div class="column is-half">
        <a href="{{ site.url}}/images/pcb/3dview-side1.png">
          <img src="{{ site.url}}/images/pcb/3dview-side1.png" alt="{{ page.title }} 3D view side 1 photo">
        </a>
      </div>

      <div class="column is-half">
        <a href="{{ site.url}}/images/pcb/3dview-side2.png">
          <img src="{{ site.url}}/images/pcb/3dview-side2.png" alt="{{ page.title }} 3D view side 2 photo">
        </a>
      </div>

      <div class="column is-half">
        <a href="{{ site.url}}/images/pcb/3dview-side3.png">
          <img src="{{ site.url}}/images/pcb/3dview-side3.png" alt="{{ page.title }} 3D view side 3 photo">
        </a>
      </div>

      <div class="column is-half">
        <a href="{{ site.url}}/images/pcb/3dview-side4.png">
          <img src="{{ site.url}}/images/pcb/3dview-side4.png" alt="{{ page.title }} 3D view side 4 photo">
        </a>
      </div>

    </div>
  </div>
</section>

{{ content }}
